[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
mysql-connector-python = "==8.0.16"
django-cors-headers = "==3.0.1"
djangorestframework = "==3.9.4"
djangorestframework-jwt = "==1.11.0"
certifi = "==2019.3.9"
chardet = "==3.0.4"
defusedxml = "==0.6.0"
django-allauth = "==0.39.1"
django-braces = "==1.13.0"
django-filter = "==2.1.0"
django-rest-auth = "==0.9.5"
djangorestframework-stubs = "==0.4.2"
idna = "==2.8"
oauthlib = "==3.0.1"
pep8 = "==1.7.1"
protobuf = "==3.7.1"
python3-openid = "==3.1.0"
pytz = "==2019.1"
requests = "==2.22.0"
requests-oauthlib = "==1.2.0"
six = "==1.12.0"
sqlparse = "==0.3.0"
urllib3 = "==1.25.3"
Django = "==2.2.1"
PyJWT = "==1.7.1"
mysqlclient = "==1.4.2.post1"
django-cors-middleware = "==1.3.1"
django-stubs = "==0.12.1"
mypy = "==0.701"
typed-ast = "==1.3.5"
typing-extensions = "==3.7.2"
waitress = "==1.3.0"
whitenoise = "==4.1.2"
Pillow = "==6.0.0"
mypy_extensions = "==0.4.1"
astroid = "==2.2.5"
autopep8 = "==1.4.4"
colorama = "==0.4.1"
django-oauth-toolkit = "==1.2.0"
django-rest-framework-social-oauth2 = "==1.1.0"
httpie = "==1.0.2"
isort = "==4.3.20"
lazy-object-proxy = "==1.4.1"
mccabe = "==0.6.1"
pycodestyle = "==2.5.0"
pylint = "==2.3.1"
social-auth-app-django = "==3.1.0"
social-auth-core = "==3.2.0"
wrapt = "==1.11.1"
oauth2_provider = "==0.0"
Pygments = "==2.4.1"

[requires]
python_version = "3.7"
