[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
mysql-connector-python = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"

[requires]
python_version = "3.7"
