container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: upost_api/wsgi.py