// Colors
$light-grey: rgb(248, 248, 248);
$grey: rgb(238, 238, 238);
$dark-grey: rgb(178, 176, 176);
$red: rgb(238, 0, 0);
$crimson-red: rgb(204, 0, 0);
$black: rgb(17, 17, 17);

// Font size
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
