.customGoogleButton div {
    background-color: #ee0000 !important;
    box-shadow: none !important;
    border: none !important;
    background: #ee0000 !important;
    color: white !important;
    margin-right: 5px !important;
    padding: 10px !important;
    border-radius: 8px !important;
}

.customGoogleButton {
    background-color: #ee0000 !important;
    box-shadow: none !important;
    border: none !important;
    color: white !important;
    border-radius: 8px !important;
    padding: none !important;
}
