.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
}

.form__error {
    margin: 0 0 0 0;
    font-style: italic;
    color: $red;
    text-align: left;
    font-weight: 600;
}

.form__label {
    margin-right: $m-size;
}
