.header {
    overflow: hidden;
    background: $crimson-red;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}

.header__logo {
    height: 50px;
    width: 100px;
}

.header__logo_wrapper {
    margin-left: 100px;
    display: inline;
}

.header__logo_wrapper__no_margin {
    display: inline;
}

.header__box {
    display: flex;
    justify-content: space-between;
}

.header__box .button {
    align-self: center;
}

.contentBody {
    margin-top: 60px;
    background-color: lighten(rgba(0, 0, 0, 0.1), 90%);
}

.header_mycontent_logo {
    height: 50px;
    width: 41.2px;
}
.links {
    align-content: center;
    display: flex;
}
