.list-header {
    background: $light-grey;
    border: 1px solid darken($light-grey, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-body {
    margin-bottom: $m-size;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-box {
    background-color: $light-grey;
    flex: 1 0 34%;
    margin: $m-size;
    border: 1px solid darken($light-grey, 7%);
    padding: $m-size;
    box-shadow: $s-size $s-size $dark-grey;
}

.list-parent {
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.list-item {
    color: $dark-grey;
    display: flex;
    flex-direction: row;
    padding: $s-size;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
        color: $red;
    }

    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
        &:hover {
            background: none;
        }
    }
}

.list-item--scrollable {
    color: $dark-grey;
    padding: $s-size;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
        color: $red;
    }

    @media (min-width: $desktop-breakpoint) {
        padding: $m-size;
    }
}

.list-item--message {
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;
    text-decoration: none;
}

.list-item__title {
    margin: 0;
    word-break: break-all;
    text-decoration: none;
}

.list-item__sub-title {
    color: $dark-grey;
    font-size: $font-size-small;
    text-decoration: none;
    word-break: break-all;
}

.list-item__data {
    margin: $s-size 0 0 0;

    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

.nobull {
    list-style-type: none;
}
