.post-image {
    width: 100%;
    object-fit: contain;
    background: black;
    max-height: 50rem;
}

.post-image:not([src]) {
    padding-top: 56.25%;
    background: $dark-grey;
}

.post__title {
    display: flex;
    justify-content: space-between;
}

.post__title > button {
    align-self: center;
}

.post__header {
    margin: 0;
}

.post__header2 {
    margin: $s-size;
    margin-left: 0;
}

.post__infobox {
    display: flex;
}

.post__infobox > h2 {
    margin: $s-size;
    margin-left: 0;
}

.post__infobox > p {
    margin: 0;
    margin-top: 8%;
}

.post__link {
    text-decoration: none;
    color: inherit;
}

.warning_message {
    color: $crimson-red;
}
