.polaroid {
    float: left;
    position: relative;
    cursor: pointer;
    background: $light-grey;
    padding: $s-size;
    margin: $s-size;
    width: 28rem;
    color: $black;
    border: 2px solid darken($light-grey, 7%);
    text-decoration: None;
    &:hover {
        color: $red;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
}

.polaroid__text-wrapper {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.polaroid__title {
    margin: 0;
    font-size: $font-size-medium;
    text-decoration: none;
    word-break: break-all;
}

.polaroid__description {
    color: $dark-grey;
    font-size: $font-size-small;
    text-decoration: none;
    word-break: break-all;
}

.polaroid__image {
    object-fit: fill;
    height: 16rem;
    width: 100%;
    background: $dark-grey;
}

.polaroid__selector {
    position: absolute;
    height: 4.4rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.polaroid__circle {
    transform: translate(88%, 50%);
}

// apply to remove the float property on elements
.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
